body{
    background-color: #ECECEC;
}
.entry
{
    text-align: center;
    color: #F4CDC5;
    font-family: comic sans ms;
}

.volume
{
    float: left;
    pd-left: 10;
    color: #753A2E;
}

.number
{
    float: right;
    color: #753A2E;
}